/* CSS layout */
body {
	margin: 0;
	padding: 0;
}

#masthead {
}

#top_nav {
}

#container {
	min-width: 600px;
}

#left_col {
	width: 200px;
	float: left;
}

#right_col {
	width: 200px;
	float: right;
}

#page_content {
	margin-left: 200px;
	margin-right: 200px;
}

#footer {
	clear: both;
}
