
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a.ALGreen11L{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3E4F15;
	text-decoration:underline;
}
a.ALGreen11L:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3E4F15;
	text-decoration:underline;
}
a.ALGreen11L:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3E4F15;
	text-decoration:none;
}

.ABlue11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0535BD;
	text-decoration:none;
}
A.ABlue11:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0535BD;
	text-decoration:underline;
}
.ABlue10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0535BD;
	text-decoration:none;
}
.AGreen11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #314307;
	text-decoration:none;
}
.ABlue12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0535BD;
	text-decoration:none;
}
A.ABlue12:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0535BD;
	text-decoration:underline;
}

a.AGreen11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #314307;
	text-decoration:none;
}
a.AGreen11:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #314307;
	text-decoration:underline;
}
.AGreen11_1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5C6A3A;
	text-decoration:none;
}
a.AGreen11_1:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5C6A3A;
	text-decoration:underline;
}
.ADGreen12{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5C6A3A;
	text-decoration:none;
	}

a.AGreen11_2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5C6A3A;
	text-decoration:none;
}
a.AGreen11_2:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5C6A3A;
	text-decoration:underline;
}
a.AGreen11_2:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5C6A3A;
	text-decoration:underline;
}
.ADGreen11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3E472E;
	text-decoration:none;
}
a.ADGreen11:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3E472E;
	text-decoration:none;
}
a.ADGreen11:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3E472E;
	text-decoration:underline;
}

.ADGreen13_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #1C4408;
	text-decoration:none;
	font-weight:bold;
}

.ADGreen15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #1C4408;
	text-decoration:none;
	font-weight:bold;
}

.ADGreen18{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #1C4408;
	text-decoration:none;
	font-weight:bold;
}


.ADGreen13{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #486935;
	text-decoration:none;
	
}

.AGrey12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #9A9A9A;
}
.AGrey11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #9A9A9A;
}
.ADGrey11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	text-decoration:none;
}
a.ADGrey11:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	text-decoration:underline;
}
.ADGrey12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4E4E4E;
}
.ALLGrey11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #BBBCBB;
	line-height:19px;
}
.ALLYellow11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF600;
	line-height:19px;
}

.ALLGrey10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #BBBCBB;
}

.ALGreen10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #848F6A;
	text-decoration:none;
}
.ALGreen11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #848F6A;
	text-decoration:none;
}



.AGrey10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #9A9A9A;
	text-decoration:none;
}


a.AGrey10:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #9A9A9A;
	text-decoration:none;
}
a.AGrey10:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #9A9A9A;
	text-decoration:underline;
}

.AWhite13{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #ffffff;
	text-decoration:none;
	
}

.AWhite14{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #ffffff;
	text-decoration:none;
	
}



.AWhite16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	text-decoration:none;
	
}

.AWhite18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-decoration:none;
	
}
.AWhite20 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-decoration:none;
	
}


.ALGrey11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F3F4F0;
	text-decoration:none;

}
.ARed11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C80909;
	text-decoration:none;
}
.ARed12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C80909;
	text-decoration:none;

}
a.ARed11_L{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C80909;
	text-decoration:underline;

}
a.ARed11_L:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C80909;
	text-decoration:underline;

}
a.ARed11_L:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C80909;
	text-decoration:none;

}
.ARed16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #C80909;
	text-decoration:none;

}

.ABlack10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2F3812;
	text-decoration:none;
	line-height:18px;
}
a.ABlack10:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2F3812;
	text-decoration:underline;
	line-height:18px;
}

.ABlack11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2F3812;
	text-decoration:none;
	line-height:18px;

}
.ABlack12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2F3812;
	text-decoration:none;
	line-height:18px;

}
a.ABlack12:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2F3812;
	text-decoration:underline;
	line-height:18px;

}
.AWhite12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:none;
	
}

.AWhite11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration:none;
	
}
a.AWhite11:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration:none;
	
}

a.AWhite11:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration:underline;
	
}


.AWhite11_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration:underline;
	
}
a.AWhite11_1:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration:underline;
	
}

a.AWhite11_1:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration:none;
	
}

.AWhite10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration:none;
}

A.AWhite10:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration:none;
}
A.AWhite10:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration:underline;
}
.ALYellow11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D7B95D;
	text-decoration:none;
}
a.ALYellow11:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D7B95D;
	text-decoration:none;
}
a.ALYellow11:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D7B95D;
	text-decoration:none;
}

.inputControlTop{font-family:Arial, Helvetica, sans-serif;font-size:11px;height:14px; border:solid 1px #999999; width:95px}
.inputControlSearch{font-family:Arial, Helvetica, sans-serif;font-size:12px;height:15px; border:solid 1px #999999; width:140px; color:#47642F; padding-left:3px}
.inputControlReg{font-family:Arial, Helvetica, sans-serif;font-size:11px;height:15px; border:solid 1px #000000;  color:#47642F; padding-left:3px; background-color:#ECF0E9}

textarea{font-family:Arial, Helvetica, sans-serif; font-size:12px}

.Nav{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:none;
	font-weight:bold;
}
a.Nav{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:none;
	font-weight:bold;
}
a.Nav:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:none;
		font-weight:bold;
}
a.Nav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFBF74;
	text-decoration:none;
		font-weight:bold;
}

.google_bottom_head{color:#003399; font:bold 12px Arial, Helvetica, sans-serif; text-decoration:none;}
a.google_bottom_head:hover{color:#003399; font:bold 12px Arial, Helvetica, sans-serif; text-decoration:underline;}
.google_bottom_text{font:11px Tahoma, Arial, Verdana, sans-serif; color:#000000; text-decoration:none;}